<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <p class="oculto">Texto oculto</p>
    <article class="contenedor01">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolores obcaecati repellat, itaque sunt laboriosam, a earum beatae numquam quae incidunt nam. Quaerat molestias, molestiae laboriosam esse ducimus quisquam aspernatur.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos assumenda nisi laborum placeat cupiditate ducimus quisquam non voluptatum tenetur itaque, cum accusantium, debitis repellendus est beatae enim reprehenderit, praesentium porro.</p>
    </article>
    
</body>
</html>